<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - widgetDemo WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Notification - widgetDemo WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TodayTestWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>testWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>widgetDemo WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>widgetDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>040B93921AB11D5F0028DAAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>040B93A81AB1298D0028DAAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04389B4C1AF1FFE7003E2407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04389B5E1AF1FFE8003E2407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04940DB71AB118ED008B7241</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04940DDB1AB118ED008B7241</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
